@font-face {
	font-family:'ralewayRegular';
	src: url('font/raleway/Raleway-Regular.ttf');
}

body {
	text-align:center;
	padding:1em;
}

.hey {
	font-family:'ralewayRegular', sans-serif, Georgia;
}

p.hey ,label.hey{
	font-size:12px;
}
p.hey {
	margin-top:-1em;
}

label.hey {
	float: left;
}

label.hey:not(:first-child) {
	margin-top:1em;
}

select{
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	-moz-appearance: none;
	background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-position: 97% center;
	background-repeat: no-repeat;
	border: 1px solid #AAA;
	color: #555;
	font-size: inherit;
	margin: 0;
	overflow: hidden;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

#parent {
	padding: 1em;
	width:600px; 
	height:400px; 
	box-shadow: 1px 0px 10px #B6B6B6;
	margin: 0 auto;
}

#formDemo {
	max-width:600px;
	min-width:360px;
	width:100%;
	margin: 2em auto;
}

#formDemo .left{
	float:left;
	width:40%;
	margin-top:1em;
	margin-bottom:1em;
}

#formDemo .right.json {
	margin-top:1em;
	margin-bottom:1em;
	float:right;
	font-size:1.1em;
	background-color:#f1f1f1;
	color:#000;
	padding:1em;
	width:auto;
	text-align:justify;
}

#formDemo .html {
	/*margin-top:1em;*/
	float:right;
	font-size:1.3em;
	background-color:#f1f1f1;
	color:#000;
	padding:1em;
	width:95%;
	text-align:justify;
}

#formDemo .right.json code, #formDemo .html code{
	margin:1em auto;
}

.button-links {
	margin: 0 auto;
	padding:0;
}

h3,p.options {
	text-align:left;
	margin-bottom:.1em;
}

.button-links ul {
	padding:0;
}

.button-links li{
	display:inline-block;

	width:120px;
}

.button-links li:not(:first-child) {
	padding-left:.5em;
}

.button-links li img {
	max-width:90%;
}

.button-links li .beer {
	max-width:70%;
}

.button-links li img:hover,
.button-links li .beer:hover{
	box-shadow:1px 2px 8px #d9d9d9;
}

.clearfix {
	overflow: auto;
	zoom: 1;
	clear:both;
}

@media (max-width:768px){
	body {
		padding:0;
	}

	#parent {
		width:450px;
		height:300px;
		/*height: auto;*/
	}

	#formDemo .left {
		float:none;
		display:block;
		width:90%;
		margin: 1em auto;
	}

	#formDemo .right.json, #formDemo .html{
		margin: 0 auto;
		float:none;
		display:block;
		width:85%;
		font-size:1.1em;
	}

	#formDemo .right code {
		/*width:100%;*/
	}

	h3,p.options {
		text-align:center;
	}
}

@media (max-width:550px){
	#parent {
		width:360px;
		height:240px;
		/*height: auto;*/
	}

	h1.hey {
		font-size:1.5em;
	}
}